.App{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(99, 97, 97);
}


.App-header{
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  margin-left: 45px;
  line-height: .5cm;
  color: white;
  
  
}

.button1 {
  width: 60px;
  height: 25px;
  background: rgba(44, 135, 255, 0.842);
  font-size: 12px;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 40px;
  margin-bottom: 20px;
}

.button1:hover{
  background-color: rgba(0, 89, 255, 0.931);
}
.flex-form {
  margin-left: 45px;
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 230, 230, 0.897);
}

input{
  height: 25px;
  width: 90%;
  margin-left: 25px;
  padding-bottom: 0;
  padding-top: 0px;
}

.h1 {
  font-size: 36px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-display: bold;
  

}

.text{
  height: 300px;
  width: 90%;
  flex-grow: 1;
  padding: 0px;
  margin-left: 25px;
}

p{
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.flex-form1 {
  margin-left: 45px;
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 230, 230, 0.897);
}

footer{
 
  width: 100%;
  margin-top: 60px;
  
}



